.cart-container {
  width: 70%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1rem;
}

.cart-items {
  list-style: none;
}

.cart-indicator {
  font-weight: 500;
}

.cart-summary {
  width: 70%;
  margin: 2rem auto;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
}

.cart-product-card {
  padding: 1rem;
  display: flex;
  border: solid 1px var(--light-gray);
  border-radius: 5px;
  margin-bottom: 1rem;
  flex-direction: column;
  gap: 1rem;
}

.cart-product-card__info {
  display: flex;
  gap: 1rem;
  max-width: 100%;
}

.cart-btn-container {
  padding-top: 0.5rem;
  border-top: solid 1px var(--light-gray);
  max-width: 100%;
  display: flex;
  gap: 1rem;
}

.cart-btn {
  padding: 0.25em 0.75em;
  font-size: 1rem;
  color: var(--medium-gray);
  background-color: inherit;
  border: none;
  width: max-content;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
}

.cart-btn-move-to-wishlist__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  border-left: solid 1px var(--light-gray);
}
.cart-btn--remove {
  margin-left: 1rem;
}

.cart-product-card__img-container {
  min-height: 180px;
  width: min-content;
  background-color: var(--light-gray);
  padding: 0.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.cart-product-card__img {
  max-height: 160px;
}

.product-title--cart {
  overflow-wrap: break-word;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--dark-gray);
}

.cart-product-card__details {
  max-width: 100%;
}

.cart-product-qty {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin: 0.5rem 0rem;
}

.cart-product-qty-indicator {
  color: var(--dark-gray);
  background-color: var(--light-gray);
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 3px;
  cursor: pointer;
}

.btn-change-qty {
  font-size: 1rem;
  padding: 0.125rem 0.5rem;
  color: var(--medium-gray);
  background-color: inherit;
  border: none;
  width: max-content;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
}

.btn-change-qty:hover {
  background-color: var(--light-gray);
}

.order-summary {
  border-left: solid 1px var(--light-gray);
  padding: 0rem 1rem;
}

.order-summary-heading {
  /* border: solid 1px green; */
  color: var(--medium-gray);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 550;
}

.order-summary-heading span {
  font-size: 1rem;
  text-transform: capitalize;
}

.coupon-container,
.price-details-container {
  margin-bottom: 2rem;
  border-bottom: solid 1px var(--light-gray);
}

.order-summary-fields {
  font-size: 1rem;
  margin: 1rem 0rem;
  color: var(--medium-gray);
}

.order-summary-fields span {
  float: right;
}

.coupon-apply {
  padding: 1rem 0rem;
  color: var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 1rem; */
}

.btn-apply-coupon {
  background-color: var(--white);
  border: solid 1px currentColor;
  font-size: 1rem;
  font-weight: 550;
  padding: 0.25rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}

.text-apply-coupon {
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.coupon-tag {
  font-size: 1.5rem;
  margin-right: 1rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-money-saved span {
  color: var(--logo);
  text-transform: uppercase;
}

.discount-from-coupon {
  display: flex;
  color: var(--medium-gray);
  justify-content: space-between;
}

.text-dark {
  color: var(--dark-gray);
}

.text .cursor-pointer {
  cursor: pointer;
}

.total-amount-summary {
  color: var(--medium-gray);
}

.btn-lg {
  padding: 0.5rem 1.5rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 550;
}

.modal-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 60;
}

.apply-coupon-container {
  position: relative;
  width: 500px;
  border-radius: 5px;
  margin-top: 5%;
  text-align: left;
  background-color: var(--white);
}

.cancel-modal {
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
  color: var(--medium-gray);
}

.modal-apply-coupon-heading {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
  color: var(--medium-gray);
  font-size: 1rem;
  padding: 1rem;
  border-bottom: solid 1px var(--light-gray);
}

.text-input {
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px var(--light-gray);
  outline: transparent;
  font-size: 1rem;
  width: 100%;
  color: var(--medium-gray);
}

.coupon-code {
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  min-height: 200px;
}

.coupon-code-text {
  border: dashed 1px currentColor;
  width: max-content;
  padding: 0.75rem 1rem;
  font-weight: 550;
  border-radius: 5px;
  color: var(--medium-red);
}

.coupon-code-detail {
  color: var(--dark-gray);
  font-weight: 550;
}

.border-none {
  border: none;
}

.coupon-container-no-border {
  border: none;
}

.apply-coupon-code {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.quantity-selector {
  background: var(--white);
  border-radius: 3px;
  width: 300px;
  margin-top: 50%;
}

.available-quantities {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.available-quantities__quantity {
  padding: 1rem;
  border: solid 1px currentColor;
  color: var(--dark-gray);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.text-select-qty {
  padding: 1rem;
  border-bottom: solid 1px var(--light-gray);
}

.text-select-qty p {
  color: var(--medium-gray);
}

.btn-done-container {
  padding: 1rem;
  border-top: solid 1px var(--light-gray);
}

::-webkit-input-placeholder {
  font-weight: normal;
}
::-moz-placeholder {
  font-weight: normal;
}
:-ms-input-placeholder {
  font-weight: normal;
}
::placeholder {
  font-weight: normal;
}

.text-enter-coupon {
  padding: 1rem;
}

.apply-coupon-code {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 1rem;
  align-items: center;
  color: var(--dark-gray);
  border-top: solid 1px var(--light-gray);
}

.highlight-qty {
  border: solid 1px var(--logo);
}
.highlight-qty p {
  color: var(--logo);
}

.btn-apply-coupon-lg {
  padding: 1rem 1.5rem;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.empty-page {
  height: 85vh;
  margin: auto;
  display: grid;
  place-items: center;
  text-align: center;
}

.empty-indicating-img img {
  max-width: 300px;
}

.empty-page-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--dark-gray);
  text-transform: uppercase;
}
.empty-page-msg {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  line-height: 1.25;
  font-weight: normal;
  color: var(--medium-gray);
}

.empty-page-cta {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: var(--medium-gray);
  padding: 1rem 1.5rem;
  border: solid 1px currentColor;
  width: max-content;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .cart-container {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 1rem auto;
    gap: 0rem;
  }
  .cart-product-card {
    width: 100%;
  }
  .cart-summary {
    margin: 1rem auto;
  }

  .order-summary {
    margin-top: 2rem;
    border: none;
  }

  .apply-coupon-container,
  .quantity-selector {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--white);
    border-radius: 5px;
  }

  .apply-coupon-container {
    width: 95%;
  }

  .empty-page {
    height: auto;
    width: 95%;
  }

  .empty-indicating-img img {
    margin-top: 5rem;
    width: 200px;
    max-width: 100%;
  }
  .empty-page-cta {
    font-size: 1rem;
    padding: 0.35rem, 1rem;
  }
}
